$primary-text-gradient: linear-gradient(
  90deg,
  #fd6788,
  #fe6a82,
  #ff6d7d,
  #ff7178,
  #ff7573,
  #fe796e,
  #fd7d69,
  #fc8165
);

$secondary-text-gradient: linear-gradient(
  90deg,
  #b26ae1,
  #a668db,
  #9a67d5,
  #8f65ce,
  #8463c7,
  #7960c0,
  #6f5eb9,
  #655bb1
);

$total-text-gradient: linear-gradient(
  90deg,
  #758ee7,
  #7684e1,
  #797adb,
  #7b70d3,
  #7e65cb,
  #825ac3,
  #854eb9,
  #8841af
);
